body {
    background-color: rgba(236, 240, 241,1.0);
    background: -webkit-radial-gradient(circle, rgba(236, 240, 241,1.0), rgba(189, 195, 199,1.0), rgba(236, 240, 241,1.0)); /* Safari */
    background: -o-radial-gradient(circle, rgba(236, 240, 241,1.0), rgba(189, 195, 199,1.0), rgba(236, 240, 241,1.0)); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(236, 240, 241,1.0), rgba(189, 195, 199,1.0), rgba(236, 240, 241,1.0)); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(236, 240, 241,1.0), rgba(189, 195, 199,1.0), rgba(236, 240, 241,1.0)); /* Standard syntax */
    background-size: cover;
    margin: 0;
}
body::-webkit-scrollbar {
    min-width: 1vh;
    max-width: 2.5vh;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(149, 165, 166,1.0);
  outline: 1px solid slategrey;
}

#root{
}
#sheet{
    overflow: hidden;
    height: 108vh;
}
#accueil{
    overflow: hidden;
    height: 81.6vh;
}
@font-face {
	font-family: "FLAT";
	src: url('http://depret.tk/asset/font/KaushanScript-Regular.otf');
}

@keyframes movetitle
{
        from {margin-top: -7vh;}
    to {margin-top: 0vh;}
}
#titre {
    animation : movetitle 1s 1;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'FLAT';
    color:rgba(44, 62, 80,1.0);
    background-color: rgba(149, 165, 166,1.0);
}

#home {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5vh;
    padding: 0;
    display: flex;
    position: absolute;
    width: 3%;
    padding-bottom: 6vh;
    background-image: url('./icon/arrow.png');
    background-size:cover; 

}
@keyframes move
{
        from {width: 3%;}
    to {width: 100%;}
}
#home:hover{
    animation : move 0.5s 1;
    background-image: none;
    width: 100%;
    padding: 0;
    background-color: #7f8c8d;
}

#home li {
    float: left;
}

#home li a{
    display: none;
    color: #34495e;
    font-family: "FLAT";
    text-align: center;
    font-size: 2.8vh;
    padding: 1vh 2vh;
    text-decoration: none;
}
#home:hover li a{
    display: block;
}
#home li ul
{
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #7f8c8d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 0;
}

#home li ul li a{
    text-decoration: none;
    text-align: left;
    float: left;
    font-size: 2.8vh;
    padding: 1vh 2vh;
}

#home li:hover ul
{
    display: flex;
    flex-direction: column;
}

/* Change the link color to #111 (black) on hover */
#home li a:hover{
    background-color: #bdc3c7;
}

#about{
    float: right;
}

#canvas{
        animation: gost 1s 1;
    background-color: rgba(189, 195, 199,1.0);
    position: absolute;
}
.canvas-container
{
    animation: gost 1s 1;
    margin: 2vh;
    margin-top: 7vh;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 70vh;
    min-width: 70vh;
}
.upper-canvas canvas
{
    animation: gost 1s 1;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 70vh;
    min-width: 70vh;
}
@keyframes gost
{
        from {filter: alpha(opacity=0);
    opacity: 0;}
    to {opacity: 100%;}
}
.canvas {
    animation: gost 1s 1;
    border: 0.2vh solid black;
    background-image: url("./icon/quad.png");
    background-size: 14%;
    float: left;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 70vh;
    min-width: 70vh;
}

#touch{
    animation: gost 1s 1;
    position: fixed;
    margin-left:45%;
    display: grid;
    grid-template-columns: 15vh;
}
button{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    background-color: rgba(44, 62, 80,1.0);
    border: none;
    border-radius: 0.5vh;
    padding: 2vh;
    font-size: 2vh;
    color: rgba(189, 195, 199,1.0);
    font-family: "FLAT";
    min-width: 15vh;
}
#mybtn1{
    margin-top: 8vh;
    background-color: rgba(44, 62, 80,1.0);
    border: 0.5vh inset rgba(52, 73, 94,1.0);
    padding: 0.5vh;
}
#mybtn2{
    margin-top: 8vh;
    background-color: rgba(44, 62, 80,1.0);
    border: 0.5vh inset rgba(52, 73, 94,1.0);
    padding: 0.5vh;
}
#myimg1{
    width: 4.5vh;
    height: 4.5vh;
}
#myimg2{
    width: 4.5vh;
    height: 4.5vh;
}
button:active{
        background-color: rgba(149, 165, 166,1.0);
        color: rgba(44, 62, 80,1.0);
    	box-shadow: 1vh 1vh 1vh rgba(0,0,0,0.4);
    	transform: translateY(1vh);
}
button:hover{
    transform: translateY(0.1vh);
}
#export{
        border-radius: 1vh;
}
#exportButton{
        min-width:15vh;
        font-size: 1.5vh;
        padding: 0.5vh;
        border:  initial;
}
#exportButton:hover{
                    transform: translateY(0.1vh);
}
#exportButton:active{
        	transform: translateY(0.3vh);
            background-color: rgba(149, 165, 166,1.0);
            color: rgba(44, 62, 80,1.0);
}
#label-json{
    margin-top: 0.5vh;
    cursor: auto;
    width: 15vh;
    height: 4vh;
    background-color: rgba(44, 62, 80,1.0);
    border-radius: 0.5vh;
    padding: 0.1vh;
    color: rgba(189, 195, 199,1.0);
    font-family: "FLAT";
    text-align: center;
    font-size: 1.5vh;
    overflow: hidden;
}
#label-json:hover{
                transform: translateY(0.1vh);
}
#label-text{
    margin-top: 0.7vh;
    position: absolute;
}
#label-json:active{
        background-color: rgba(149, 165, 166,1.0);
        color: rgba(44, 62, 80,1.0);
    	box-shadow: 0.5vh 0.5vh 0.5vh rgba(0,0,0,0.4);
    transform: translateY(0.3vh);
}
#fileinput{
    margin: 0.1vh;
    padding: 5vh;
    width: 0.1vh;
    height: 0.1vh;
    cursor: inherit;
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    }
    #text{
    padding: 0;
    margin: 0.1vh;
    border-radius: 1vh;
    width: 1vh;
    height: 1vh;
}
#jscolor{
    margin: 0vh;
    margin-bottom: 1vh;
    max-width: 14vh;
    min-width: 14vh;
    min-height: 2vh;
    font-size: 1vh;
    border: 0.5vh solid  rgba(52, 73, 94,1.0);
    border-radius: 1vh;
    text-align: center;
    color: rgba(189, 195, 199,1.0);
    font-family: "FLAT";
    }

#font{
    background-color: rgba(52, 73, 94,1.0);
    margin: 0vh;
    padding: 0;
    width: 15vh;
    display: grid;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
    color: rgba(189, 195, 199,1.0);
    font-family: "FLAT";
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.grid>*:nth-child(even) {
            background-color: rgba(52, 73, 94,1.0);
        }

        .grid>*:nth-child(odd) {
            background-color: rgba(44, 62, 80,1.0);
        }

#group{
        animation: gost 1s 1;
        float: right;
        margin: 2vh;
        margin-top: 7vh;
        margin-left: 15vh;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 75vh;
        min-width: 75vh;
}
#side{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 75vh;
    min-width: 75vh;
    background: rgba(149, 165, 166,1.0);
    overflow: auto;
}

#side::-webkit-scrollbar {
    min-width: 1vh;
    max-width: 2.5vh;
}
 
#side::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#side::-webkit-scrollbar-thumb {
  background-color: rgba(52, 73, 94,1.0);
  outline: 1px solid slategrey;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(52, 73, 94,1.0);
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 75vh;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: rgba(189, 195, 199,1.0);
    font-family: "FLAT";
    text-align: center;
    font-size: 2.8vh;
    padding: 1vh 2vh;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: rgba(44, 62, 80,1.0);
}

.rig{
    -webkit-padding-start: 4vh;
	list-style: none;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns : 35vh 35vh;
    margin-top: 7vh;
    margin-left: 1vh;
}
#vig {
    margin-left: 2vh;
	background: #ecf0f1;
	font-size: 1rem;
	box-shadow: 0 0 5px lightgrey;
    max-width: 27vh;
    margin-top: 1vh;
    height: auto;
}
#ima {
	width: 25vh;
    height: auto;
	margin-left: 1vh;
	margin-top: 1vh;
}
#subtitre {
    font-family: 'FLAT';
    color:rgba(44, 62, 80,1.0);
    font-size: 4vh;
	margin: 0;
    text-align: center;
}

#tuto{
    width: 65vh;
    height: 104vh;
}
#tuto-titre{
    margin-top: 0;
    font-family: "FLAT";
    text-align: center;
    font-size: 5vh;
    color: rgba(44, 62, 80,1.0);

}
#tuto-p{
    font-family: "FLAT";
    margin-top: 0;
    font-size: 2.5vh;
    color: rgba(44, 62, 80,1.0);
}
#footer{
    width: 100%;
    height: 5vh;
    margin-top: 6vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'FLAT';
    color:rgba(44, 62, 80,1.0);
    background-color: rgba(52, 73, 94,1.0);
    border-top: 0.2vh solid rgba(189, 195, 199,1.0);
}

@media screen and (max-width : 361px) {
        #touch{
            margin-left: 2vh;
        position: relative;
    grid-template-columns: 15vh 15vh 15vh 15vh;
    }
    #menu {
        min-width: 360px;
    max-width: 360px;
    position: relative;}
        .rig{
        margin-left: -8vh;
    }
        button{
    margin-left: 1vh;
    margin-right: 1vh;
    }
    li a {
    padding: 0;
}
    #group
    {
    margin: 0;
    float: none;
    margin-bottom: 3vh;
    min-width: 360px;
    max-width: 360px;
    
    }
    .canvas{
        position: initial;
        float: none;
        margin-left: 0;
    }
    body{min-width: 360px;
    max-width: 360px;}
    #sheet{
    max-height: 230vh;
    min-height: 230vh;
    min-width: 360px;
    max-width: 360px;
    overflow: hidden;
    }
}